{% extends "directory/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.created_by.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'contact-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'contact-delete' object.id %}">Delete</a>
                </div>
            </div>
            <h2 class="article-title">{{ object.name }}</h2>
            <p class="article-content">{{ object.email }}</p>
        </div>
    </article>
{% endblock content %}
