{% extends "directory/base.html" %}
{% block content %}
    {% for contact in contacts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ contact.created_by.profile.image.url }}">
            <div class="media-body">
               <h2><a class="article-title" href="{% url 'contact-detail' contact.id %}">{{ contact.name }}</a></h2>
                <p class="article-content">{{ contact.email }}</p>
            </div>
        </article>
    {% empty %}
        <h3>No Contact Found!</h3>
        <a class="nav-item nav-link" href="{% url 'directory-create' %}">Create New Contact</a>
    {% endfor %}
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content %}
