{% extends "directory/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Contact Form</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">{% if not form.instance.pk %}Create{% else %}
                    Update{% endif %}</button>
            </div>
        </form>
    </div>
{% endblock content %}
