{% extends "directory/base.html" %}
{% block content %}
    <h1>Welcome to the Home Page</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi asperiores beatae dicta dolorem dolores
        dolorum, ducimus, eius facilis harum, hic in ipsam laboriosam libero maiores quibusdam reprehenderit repudiandae
        temporibus!
    </p>
{% endblock content %}
